<div class="d-flex justify-content-center align-item-center ">
  <div class="flex-column post bg-white p-4 mt-2 overflow-auto">
    <h3>Edit Profile</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%= f.file_field :avatar %>
      </div>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:'form-control' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class:'form-control btn-success' %>
      </div>

      <% if current_user.Public? %>
      <h5>Your account is currently Public</h5>
        <%= link_to 'Make Private', user_type_path(current_user), class:'btn btn-primary text-white'%>
      <% else %>
        <h5>Your account is currently Private</h5>
        <%= link_to 'Make Public', user_type_path(current_user), class:'btn btn-warning text-dark'%>
      <% end %>

    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Deactivate my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:'btn btn-danger' %></p>

    <%= link_to "Back", :back, class:'btn btn-dark btn-dark btn-sm text-white' %>
  </div>
</div>
