<div class='container-custom position-fixed'>
  <div class='row'>
    <div class="col-6">
      <%=image_tag '/Screenshot 2022-09-08 at 7.54.47 PM.png',  style: 'height:40%;', class:'m-5 pl-5' %>
    </div>
    <div class="col-6 p-5">
      <div class="border mt-3 p-3 pl-5 pr-5 bg-white">
        <div class="d-flex justify-content-center">
          <%=image_tag '/Instagram_Logo_2016.png',  style: 'height:100%; width:70%;', class:'m-5' %>
        </div>


        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email address", class:'form-control' %>
          </div>

          <div class="field">

            <%= f.password_field :password, autocomplete: "current-password", placeholder: "password",  class:'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Log in", class:'btn btn-primary w-100' %>
          </div>
        <% end %>
      </div>

      <div class="border mt-3 p-4  bg-white text-center">
        Don't have an account? <%= render "devise/shared/links" %>
      </div>
    </div>


  </div>
</div>
